//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)
// @stylint off

.col-general
	make-lg-column(1, 20)
	make-sm-column(12, 40)
	//make-sm-column-offset(1)

.cont-btn-volver
	make-lg-column(12, 0)
	make-sm-column(1, 0)

.col-cont-listas
	make-lg-column(1, 20)
	make-sm-column(10, 10)
	make-sm-column-offset(1)

.col-cont-listas-cortas
	make-lg-column(1, 20)
	make-sm-column(8, 10)
	make-sm-column-offset(2)

.col-cont-listas-cortas-xs
	make-lg-column(1, 20)
	make-sm-column(6, 10)
	make-sm-column-offset(3)

.col-btn-static
	make-sm-column-offset(5)

.col-form-login
	make-sm-column(10, 10)
	make-sm-column-offset(1)

.col-contenido
	make-sm-column(6, 0)
	make-sm-column-offset(3)

.col-contenido-doble
	make-sm-column(11, 10)
	margin-left 6%

.col-form-doble
	make-sm-column(6, 10)
	padding 0 4px
	
.col-form-user
	make-sm-column(11,5)

.col-btn-user	
	make-sm-column(6, 0)
	make-sm-column-offset(3)

.col-dashboard-admin
	make-sm-column(4, 0)
	make-sm-column-offset(4)
	margin-top 5%

.col-cont-planes
	make-sm-column(3, 0)
	margin 0 10px

.col-list-secciones
	width 20%
	float left
	margin-right 20px

.col-menu-interno	
	make-sm-column(5,0)
	padding 0 10px

.col-form-doble-menu
	width 43%
	float left
	margin 20px 20px 20px 2%
	
	&:nth-last-of-type(2)
		margin 20px 0 0 8%

.col-menu-nivel
	make-sm-column(3, 0)
	margin 20px 0 0 0
	
.offset-3-col
	make-sm-column-offset(1)

.col-editor-text
	make-sm-column(10, 0)
	make-sm-column-offset(1)
	margin-top 30px
	
		
		
	

	