/*Dashboard*/
.col-dashboard-admin
	
	ul
		margin 0 0 0 8%
		padding 0
		
		li
			margin-bottom 20px
			
		li, a
			height 80px
			width 80px

/*Archivos*/

.cont-drag-archivo
	background $grisclaro
	color $blanco
	color $gris
	cursor pointer
	font-family $light
	padding 50px 20px
	text-align center
	
	.cont-texto-drag
		font-size 1.5rem
	
		span.glyphicon-inbox
			font-size 5rem


/*Planes*/

.primer-plan 
	margin-left 10%


.titulo-numero-destacado
	color $gris
	text-transform uppercase

.cont-info-destacado
	border 2px solid $magenta
	padding 10px	

	
	h4.titulo-nombre-destacado
		font-size 2.2rem
		margin-top 6%
		min-height 60px
		
	table.cont-detalle-destacado
		margin 0 auto 20px
		width 80
		
		td
			border none
		
		td.text-cantidad-detalle
			color $grisoscuro
			font-family $bold
			padding-right 3px
			text-align right
			text-transform uppercase
			width 50%
		
		td.text-tipo-detalle
			padding-left 3px
			text-align left
			text-transform uppercase
			width 50%
		
	p.text-descrip-detalle
		height 60px
		margin 0 auto
		width 80%
	
	div.cont-valor-plan
		margin 0 auto
		text-align center
		width 90%
		
		em.titulo-valor-plan
			font-size 1rem	
			font-style normal
			text-align center
			text-transform uppercase
		
		h5.text-valor-plan
			color $negro
			font-size 4rem
			margin -6px 0 0
	
	button
		margin-top 10px
	
.cont-destacar-plan
	float right
	margin-top 10px
	text-align center
	width 60px
	
	a.btn-destacar
		color $gris
		font-size 1rem
		text-decoration none
		text-transform uppercase
		
		span.glyphicon
			color $gris
			font-size 2rem !important
			
			&:hover, &:active, &:focus 
				color $magenta
		
		p.text-destacar
			text-align center


/*ConfinurarSeccion*/

.cont-titulo-seccion
	width 80%
	margin 0 auto 20px
	
	h5.nombre-seccion,
	p.subtitulo-seccion
		width 70%
	
	h5.nombre-seccion
		color $grisoscuro
		font-family $bold
		font-size 3rem	
		margin 0
		text-transform uppercase

.col-list-secciones
	
	margin-bottom 20px
	
	p.titulo-edicion
		color $magenta
		font-family $bold
		font-size 2rem
		text-align center
		text-transform uppercase
	
	div.cont-list-config
		border 2px solid $magenta
		min-height 300px
		padding 10px
		
		ul.list-config
			list-style none
			padding 0
			width 100%
			
			li
				border 1px dashed $gris
				padding 10px 
				margin-bottom 6px
				
				p.text-nombre-edicion
					width 94%
					float left
				
				span.glyphicon.glyphicon-remove
					color $rojo


.first-list
	margin-left 8%	


/*CREAR MENU*/
.cont-menu-general 
	border 1px solid $gris
	padding 0 10px 10px
	position relative
	
.cont-form-nombre
	float left
	margin-left 10%
	margin-right 8px
	width 80%
	
.cont-btn-crear
	padding-top 6px

.cont-numero-orden-menu
	background $blanco
	color $gris
	display block
	font-size 1.6rem
	height 20px
	position absolute
	text-align center
	top -4%
	width 100px
	
	p
		text-align center
		width 100%

.titulo-1
	transform translateX(164%)

.titulo-2
		transform translateX(36%)
		
.cont-btns-menu-interno
	float right
	padding-right 11px
	text-align right
	width 60%
	
	.cont-icons-config
		font-size 1.4rem
		padding 6px
		
		span
			
			&.glyphicon-remove
				color $rojo
			
			&.glyphicon-plus
				color $agua
				
			&.glyphicon-ok
				color $verde
				
			&:hover
				color $magenta
					
					

.cont-submenu-config
	border 1px dotted $grisclaro
	float left
	margin 10px 10px 0 10px
	padding 8px
	position relative
	width 45%


/*EDITAR MENU*/

.col-menu-nivel
	border-right 1px dotted $gris
	padding 5px
	
	.form-group
		
		label
			color $grisoscuro	

h5.titulo-nivel
	color $grisoscuro
	font-family $bold
	font-size 3rem
	text-align center
	text-transform uppercase

.cont-btns-menu-interno

	span
		
		&.glyphicon-trash
			color $vino
				
		&.glyphicon-pencil
			color $agua
		
		&:hover
			color $magenta

.cont-menu-nivel
	padding 30px 10px 30px
	margin-bottom 20px
	
.grupo-1
	background $magenta-cla


.grupo-2
	background $agua-cla
	
.grupo-3
	background $azul-cla



/*EDITOR*/

.nicEdit-main 
	font-family $bold
	
	*
		font-family $hairI !important


/*si*/

#mceu_78-body {
	display none
}
			
			