header
	position fixed
	width 100%
	z-index 1
	
nav.bar
	margin 0
	
.col-logo
	display inline-block
	max-width 14rem

.col-titulo-principal
	display inline-block

.container-cerrar-sesion
	float right
	margin-top 10px
	text-align center


//Menu
.cont-menu-admin
	
	li
		background $blanco
		display inline-block
		height 70px
		margin-right 12px
		text-align center
		width 70px
		
		&:last-child
			margin-right 0
		
		a
			border 1px solid $gris
			color $gris
			cursor pointer
			display block
			font-family $light
			font-size 1.2rem
			height 70px
			text-decoration none
			width 70px
			
			span.glyphicon
				font-size 2.7rem
				margin-top 16px
			
			&:hover
				background $magenta
				border none
				color $blanco
			
		&.active
			background $magenta
			color $blanco
			
			a
				color $blanco
				border 1px solid $magenta
			
			.cont-svg-icons-menu
				svg
					fill $blanco !important

// MENU INTERNAS

.cont-menu-internas
	height 120px
	position relative
	top 100px
	width 100%
	z-index 1
	
	.col-row-menu
		display inline-block
		margin 0
	
	.menu-deskt-internas
		left 30%
		position fixed

.cont-svg-icons-menu
	width 46px
	margin 0 auto
	
	svg
		
		&:hover
			fill $blanco !important
	
			
				
		
		
	
