/*

En este archivo se declaran los colores, las fonts y sus variaciones

las variables se deben declarar con $ al inicio del nombre de la variable

*/

//Paleta de colores del proyecto

//$amarillooscuro = darken($amarillo, 30%) 
$negro          = #000000
$blanco         = #ffffff
$gris           = #7f7f7f
$grisoscuro		= #404040
$grisclaro		= #e3e3e3
$magenta        = #ec008c
$rojo           = #db5858
$verde          = #58b95c
$azul          	= #09a1b0
$agua			= #14baca
$vino           = #7f0c4d

$magenta-cla 	= lighten($magenta, 50)
$azul-cla 		= lighten($azul, 50)
$agua-cla 		= lighten($agua, 50)


/*pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$bold = 'Lato-Bold', sans-serif
$light = 'Lato-Light', sans-serif
$black = 'Lato-Black', sans-serif
$italic = 'Lato-Italic', sans-serif
$hair = 'Lato-Hair', sans-serif
$regular = 'Lato-Regular', sans-serif
$hairI = 'Lato-HairI', sans-serif
$lightI = 'Lato-LightI', sans-serif
$boldI = 'Lato-BoldI', sans-serif
$blackI = 'Lato-BlackI', sans-serif

/*font weights
$light  = 300
$normal = 400
$bold   = 700*/


//site grid spacing and width
$gutter            = 0.5rem
$site-width         = 110rem