//Header
header.container-fluid
	div.row
		div.col-logo
			
			a(href="index.html")
				img.img-responsive(src="images/logo-avantel.png", alt="logo-avantel", title="logo-avantel")

		
		div.col-titulo-principal
			h1 CMS AVANTEL	

		div.container-cerrar-sesion
			a.btn-cerrar-sesion
				p.icono-cerrar
					span.glyphicon.glyphicon-remove
				span.text-btn-cerrar cerrar sesión
			

///-Header