//Menu
div.col-desktop-grande
	nav.bar
		ul#navegacion.cont-menu-admin
				li(class={active: interna== 'usuarios'})
					a(href="#")
						span.glyphicon.glyphicon-user
						|Usuarios
				li(class={active: interna== 'modulos'})
					a(href="modulos.html")
						span.glyphicon.glyphicon-envelope
						|Módulos
				li(class={active: interna== 'menu'})
					a(href="menu.html")
						span.glyphicon.glyphicon-menu-hamburger
						</br>Menú
				li(class={active: interna== 'contenidos'})
					a(href="contenidos.html")
						span.glyphicon.glyphicon-list-alt
						|Contenidos
				li(class={active: interna== 'archivos'})
					a(href="archivos.html")
						span.glyphicon.glyphicon-inbox
						|Archivos
				li(class={active: interna== 'seccion'})
					a(href="secciones.html")
						span.glyphicon.glyphicon-th-list
						</br>Sección

				
///-Menu
