//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var interna = 'contenidos';
	title Configurar Contenido

//-Etiqueta Metadescription
block description
	meta(name="configurarSeccion", content="Configurar Seccion" )


block content
	section.container-fluid.cont-menu-internas
		div.row.col-row-menu
			include ../templates/partials/menu.pug


	section.container-fluid.alto-page
		//-Nombre Usuario
		div.row
			include ../templates/partials/header-user.pug
		//-Contenedor
		div.row
			//-Titulos
			article.col-general
				div.cont-titulos-generales
					h4 Configurar contenido

				//-Contenido
				div.col-editor-text

					div#div
						textarea
							|Holiiii Editame :P
							
				//-Volver
		div.row
			div.cont-btn-volver
				a(href="modulos.html").btn-volver-general
					span.glyphicon.glyphicon-chevron-left
					</br>volver

		//- VALIDATE
		div.cont-message-feedback.success(style="display:none")
			a.btn-close-feed(href="#")
				span.glyphicon.glyphicon-remove

			p.text-feedback
				|Registro exitoso


block Scripts
	//-Acá se ponen js que solo vayan en ésta página
	script(src='js/nicEdit.js')

