//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var interna = 'archivos';
	title Crear archivo

//-Etiqueta Metadescription
block description
	meta(name="crearArchivo", content="Crear Archivo" )


block content
	section.container-fluid.cont-menu-internas
		div.row.col-row-menu
			include ../templates/partials/menu.pug


	section.container-fluid.alto-page
		//-Nombre Usuario
		div.row
			include ../templates/partials/header-user.pug
		//-Contenedor
		div.row
			//-Titulos
			article.col-general
				div.cont-titulos-generales
					h4 Crear archivo

				//-Contenido
				div.cont-contenido-detalle
					
					//-Espacio arrastrar
					div.col-contenido-doble.cont-drag-archivo

						div.cont-texto-drag
							span.glyphicon.glyphicon-inbox
							|</br>Drop files here to upload
		
				//-Volver
		div.row
			div.cont-btn-volver
				a(href="archivos.html").btn-volver-general
					span.glyphicon.glyphicon-chevron-left
					</br>volver

		//- VALIDATE
		div.cont-message-feedback.success(style="display:none")
			a.btn-close-feed(href="#")
				span.glyphicon.glyphicon-remove

			p.text-feedback
				|Registro exitoso


block Scripts
	//-Acá se ponen js que solo vayan en ésta página

