//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Cms Avantel

//-Etiqueta Metadescription
block description
	meta(name="cmsavantel", content="Cms Avantel" )


block content
	
	section#inter-login.container-fluid.alto-page
		
		//-Nombre Usuario
		div.row
			include ../templates/partials/header-user.pug

		div.row
					
			//-Conte-opciones
			div.col-dashboard-admin
				ul#menu-dashboard.cont-menu-admin
					li
						a(href="usuarios.html")
							div.cont-svg-icons-menu
								include ../../publication/images/icons/icon-users.svg
							|Usuarios
					li
						a(href="modulos.html")
							div.cont-svg-icons-menu
								include ../../publication/images/icons/icon-modules.svg
							|Módulos
					li
						a(href="menu.html")
							div.cont-svg-icons-menu
								include ../../publication/images/icons/icon-menu.svg
							|Menú
					li
						a(href="contenidos.html")
							div.cont-svg-icons-menu
								include ../../publication/images/icons/icon-content.svg
							|Contenidos
					li
						a(href="archivos.html")
							div.cont-svg-icons-menu
								include ../../publication/images/icons/icon-file.svg

							|Archivos
					li
						a(href="secciones.html")
							div.cont-svg-icons-menu
								include ../../publication/images/icons/icon-section.svg 
							|Sección

	div.clear


block Scripts
	//-Acá se ponen js que solo vayan en ésta página

