//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var interna = 'menu';
	title Menús

//-Etiqueta Metadescription
block description
	meta(name="menus", content="Menu" )


block content
	section.container-fluid.cont-menu-internas
		div.row.col-row-menu
			include ../templates/partials/menu.pug


	section.container-fluid.alto-page
		//-Nombre Usuario
		div.row
			include ../templates/partials/header-user.pug
		//-Contenedor
		div.row
			//-Titulos
			article.col-general
				div.cont-titulos-generales
					h4 menús

				//-Contenido
				div.cont-contenido-detalle
					table.table.col-cont-listas-cortas-xs.listas-menu
						thead
							tr
								th
									|Nombre	
								th
									|Acción
								
						
						tbody
							tr
								td
									|Jbarrera	
								td
									div.cont-iconos-accion-2
										a
											span.glyphicon.glyphicon-trash
										a(href="editar-menu.html")
											span.glyphicon.glyphicon-pencil

							tr
								td
									|Jbarrera	
								td
									div.cont-iconos-accion-2
										a
											span.glyphicon.glyphicon-trash
										a(href="editar-menu.html")
											span.glyphicon.glyphicon-pencil


				div.clear
				div.cont-btns-general
					div.cont-btn-guardar.col-btn-static
						a.btn-guardar-general
							span.glyphicon.glyphicon-floppy-disk
							</br>guardar

					div.cont-btn-crear
						a(href="crear-menu.html").btn-crear-general
							span.glyphicon.glyphicon-plus
							</br>Crear menús
							
		//-Volver
		div.row
			div.cont-btn-volver
				a(href="index.html").btn-volver-general
					span.glyphicon.glyphicon-chevron-left
					</br>volver


block Scripts
	//-Acá se ponen js que solo vayan en ésta página

